<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CSIS</key>
	<string>'s_ee.s_i_s</string>
	<key>NATO</key>
	<string>'n_e_i.t_uh_uu</string>
	<key>UNESCO</key>
	<string>y_uu.'n_e_s.k_uh_uu</string>
	<key>UNICEF</key>
	<string>'y_uu.n_uh.s_e_f</string>
</dict>
</plist>
